
dialog {
    padding: 0;
    margin:0;
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 669px;
    height: 1000px;
    border:none;
    border-radius: 5px;
    background: #DB8876;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-submit {
    width: 170px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #901C1C;
}

.modal-header, .modal-name {
    color: #000;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.modal {
    padding: 0;
    margin: 0;
    background: #DB8876;
}

.modal header {
    justify-content: space-between;
    display:flex;
    align-items:center;
}
.close-btn {
    background:none;
    border:none;
}
.close {
width: 72px;
height: 72px;
background:none;
}


.photograph-header {
    display:flex;
    justify-content: space-between;
    align-items:center
}

.photograph-name {
    color: #D3573C;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.photograph-location {
    color: #901C1C;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photograph-tagline {
    color: #525252;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photograph-picture {
    height: 200px;
    width: 200px;
    border-radius:100%;
}

.filters {
    margin: 20px 100px;
}

.filter {
color: #000;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#sortBy {
    border-radius: 5px;
    background: #901C1C;
    height:57px;
    width:170px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 20px 100px; 
  }
  
  
  .card {
    flex-basis: calc(33.33% - 10px); 
    box-sizing: border-box;
    overflow: hidden; 
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    margin-right: 10px; 
    background-color: #fff; 
    transition: transform 0.2s ease-in-out; 
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  
 div.formData {
    margin:0;
 }
  .card-picture img {
    width: 350px;
    height: 300px;
    flex-shrink: 0;
    border-radius:5px;
    background: lightgray 50% / cover no-repeat, #C4C4C4;
  }

.video {
    width: 350px;
    height: 300px;
    flex-shrink: 0;
    border-radius:5px;
    background: lightgray 50% / cover no-repeat, #C4C4C4;
}
  .card-p, .card-s {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-info {
    width:350px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.image-opened, .video-opened{
    width:400px;
    height:400px;
}
.next, .previous, .close {
    background:none;
    border:none;
    width: 48px;
    height: 29.64px;
    color:#901C1C;
}

.carousel {
    width: 1253px;
    height: 984px;
}

.image-opened {
    width: 1050px;
    height: 900px;
    border-radius: 5px;
    background: lightgray -5.597px -178.321px / 100% 155.796% no-repeat, #C4C4C4; 
}

.infos {
    position:fixed;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    background: #DB8876;
    bottom:0;
    right:8%;
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.likes, .price-p {
    display:flex;
    color: #000;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.modal-header, .modal-name {
    margin:0;
}
.modal header img {
    cursor: pointer;
    width: 72px;
    height: 72px;
}

.modal header h2, .modal-name  {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: DM Sans;
    font-size: 40px;
    margin-left:1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-family: DM Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 599px;
    height: 68px;
    border-radius: 5px;
    border:none;
}
#message {
    width: 599px;
    height: 170px;
    border-radius:5px;
    resize:none;
}
.modal-body {
    margin-left:1.5rem;
}

.contact-button {
    width: 170px;
    height: 69px;
    border:none;
    border-radius: 5px;
    background: #901C1C;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#success-message-text {
    margin: 0 ;
}